<!DOCTYPE html>
<html>
<head>
    <title>Contact User</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="form-page">

    <div class="form-container">

        <h1>Contact User</h1>

        <p><strong>Name:</strong> {{ user.name }}</p>

        <p><strong>Email:</strong> {{ user.email }}</p>

        <p><strong>Phone:</strong> {{ user.phone }}</p>

        <br>

        <a href="mailto:{{ user.email }}" class="primary-btn">
            📧 Send Email
        </a>

    </div>

</div>

</body>
</html>