{% extends 'base.html' %}

{% block content %}

<div class="form-container">

    <div class="form-card">

        <h1 class="form-title">

            Contact Admin

        </h1>

        <p class="hero-text">

            Need help using BNM VAULT?
            Contact the admin directly.

        </p>

        <div class="admin-box">

            <h3>Admin Contact</h3>

            <p>Email: admin@bnmvault.com</p>

            <p>Phone: +91 9876543210</p>

            <p>Office: BNM College Block A</p>

        </div>

    </div>

</div>

{% endblock %}