{% extends 'base.html' %}

{% block content %}

<h1 class="page-title">
    My <span class="gradient-text">Profile</span>
</h1>

<div class="profile-card">

    <div class="profile-avatar">
        <i class="fa-solid fa-user"></i>
    </div>

    <form class="modern-form">

        <input type="text" placeholder="Full Name">

        <input type="email" placeholder="Email">

        <input type="text" placeholder="College ID">

        <input type="password" placeholder="New Password">

        <button class="primary-btn">
            Update Profile
        </button>

    </form>

</div>

{% endblock %}